@import "_photoflow"; // 相關圖片（點擊左右箭頭滑動）
@import "_bigPhotos"; // 燈箱中的大圖 
@import "_figures.scss"; // 首長與經營團隊（人物介紹）
@import "_cpAttachments.scss"; // 相關連結、相關檔案

// ------------------------------------------------------ //
.cp{
  @extend %primSecWidth;

  @media screen and (min-width: $wwMedium) {
  }

  @media screen and (min-width: $wwNormal) {
  }
}
// ------------------------------------------------------ //


.meta{
  box-shadow: 0 0 4px 0 $shadow1;
  padding:20px;
  font-size: 1.1em;
  &>table{
    border-collapse: collapse; line-height: 1.8;
    // 
    // border-bottom: 1px solid $borderColor;
    th, td {padding: .7em 1em .6em;}
    th{ 
      // background-color: $primaryColor; color: $white;
      width: 22%;
      border-right: 3px solid $primaryColor;
      color: $primaryColor; vertical-align: top; text-align: right;
      // border-bottom: 1px solid rgb(255 255 255 / .4);
    }
    tr{
      border-bottom: 1px solid $borderColor;
      transition: .25s;
      &:last-child{border: none;}
      &:hover{
        background-color: $hover;
      }

    }
  }
}



.tages{
  margin: 50px 0;
  ul{ 
    list-style: none; margin: 0; padding: 0; overflow: hidden;
    line-height: 1.3;
  }
  li{
    float: left; margin: 4px 8px 8px 4px; padding: 0;
    a {
      display: block; position: relative; text-decoration: none;
      padding: .7em 1em .6em 24px;
      border: 1px solid transparent;
      color: $primaryColor;
      box-shadow: rgb(0 0 0 / .25) 1px 1px 6px;
      transition: .2s;
      &::before {
        content: ''; position: absolute; left: -1px; top: -1px; bottom: -1px;
        width: 8px; background-color: $gray;
        transition: .2s;
      }
      &:hover, &:focus {
        border-color: $primaryColor;
        &::before { background-color: $primaryColor; }
      }
    }
  }
}