// 首頁：近期活動
// .main>section:not(.events) { display: none;}
// .main>section.explore {display: block;}

.events{
  position: relative;
  padding: 70px 0; margin: 0;
  background-color: #f8f8f8;
  &::after{content: ''; display: block; clear: both;}

  .blockHeader{ width: $mobileWidth; margin: 0 auto 30px; position: relative;}

  // 文字區
  .titles{
    float: left; width: 38vw;
    margin: 50px 0 0 3vw; padding: 20px 0 10px;
    time{ font-size: 3.8vw; line-height: 1.6;}
    p{
      margin: 25px 0 0; line-height: 1.6;
      font-weight: bold; font-size: calc( 38vw/8 );
      display: -webkit-box; -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;
    }
  }

  // 海報區
  .images{
    float: right;width: 55vw; margin: 0; padding-top: 50px; 
    .slick-arrow {
      top: 0; left: auto; right: 3%;
      &.slick-prev { transform: translateX(calc(-100% - 6px));}
    }

    .flowItem{
      margin:0; 
      width: 55vw; height: 77vw; 
      //w:h = 5:7, ratio = 1.4
      a {
        position: relative;
        display: block; width: 100%; height: 100%;
        text-decoration: none; color: $fontColor;
        transition: .2s;

        &::before{
          content: ''; 
          position: absolute; left: 0; right: 0; top: 0;bottom: 0;
        }
        &:hover::before {box-shadow: $linkColor 0 0 0 1px inset;}
        &:focus::before {box-shadow: $linkColor 0 0 0 3px inset;}
      }
      img{
        display: block;
        width: 100%; height: 100%; object-fit: cover;
        transition: .2s;
      }
    }
  }

  .more{clear: both; padding: 40px 0 0;}


  @media screen and (min-width: $wwMedium){
    
    &::before { // 右邊漸層底色
      content: ''; position: absolute; left: 35%; right: 0; top: 0; bottom: 0;
      background: linear-gradient(180deg, #E2E2E2 0%, #FFFFFF 100%);
    }

    .titles {
      width: 25vw;
      p{font-size:calc(25vw / 8);}
      time{font-size: 1em;}
    }

    .images{
      width: 68vw;
      .flowItem{
        width: 35.5vw; height: 49.7vw;transform: scale(.82);
        transition: .4s;
        &.slick-current {transform: scale(1);}
      }
    }
  }

  @media screen and (min-width: $wwNormal){

    .blockHeader{ width: $normalWidth; }

    .titles {
      width: 23vw; margin-left: 5vw;
      p{font-size:calc(23vw / 8);}
      time{ font-size: 1.2em;}
    }

    .images{
      padding-top: 60px; width: 70vw;
      .flowItem{
        width: 25vw; height: 35vw;
        &.slick-current +.flowItem { margin-right: -2.8vw;}
      }
    }
  }


  @media screen and (min-width: $wwMaximum){

    &::before{ left:  calc($wwMaximum*.29 + $marginDocMax); }

    .blockHeader{ width: $wwMaximum*.9;}

    .titles { 
      width: $wwMaximum*.22; margin-left: $marginDocMax;
      p{ font-size: 2.1em;}
    }

    .images{
      width: $wwMaximum*.71;
      margin-right: calc(50vw - $wwMaximum*.5); 
      .flowItem{
        width: $wwMaximum*.25; height: $wwMaximum *.35;
        &.slick-current +.flowItem { margin-right: -.024*$wwMaximum;}
      }
    }

  }

}