.formA {
  @extend %primSecWidth;
  
  padding: 24px;
  box-shadow: $shadow1 0 0 15px;

  table.layout{ 
    width: 96%;
    tr{border-bottom: 1px solid $borderColor;}
  }
}


// 表單排版表格 
// ------------------------------------------------------ //
table.layout {
  width: 100%; margin: 0 auto; border-collapse: collapse;
  font-size: 1.11em;
  td {
    padding:5px 0; vertical-align: top;
    &:nth-child(odd) {
      padding-right: 3px; padding-left: 1.5em;width: 4.5em;
      white-space: nowrap;text-align: right; font-weight: bold;
    }
  }

  .msg{
    display: none;
    padding-left: 40px;
    margin: 8px 0; font-size: .88em;
    color: $fontColor;
    &.hint{ color: $primaryColor;}
    &.error{ color: $warning;}
    &.warning{ color: $hilight;}
  }

  @media screen and (max-width: $wwMedium){
    tr, td {display: block;}
    td:nth-child(odd){
      text-align: left;
      padding: .8em 6px 0; margin-bottom: -6px;
    }
  }

  @media screen and (min-width: $wwNormal){
    max-width: 1100px;
  }
}

.btnDv{
  font-size: 1.3em;
  text-align: center; padding: 8px 16px;
}

.required{
  color: $warning; margin-right: 3px; text-decoration: none;
  font-size: 1.2em;
}




// 表單中的訊息文字 
// ------------------------------------------------------ //
.notice{
  position: relative;
  display: inline-block; margin: 4px 0 0 .5em;

  &.pass , &.warning, &.fail {
    padding-left: 1.4em; 
    &::before{
      position: absolute; left: 0; top: .15em;
      content: ''; width: 1.3rem; height: 1.3rem; 
    }
  }

  // 打勾
  &.pass{
    color: $secondaryColor;
    &::before{
      background: $secondaryColor url(../images/icon_check.svg) no-repeat center center;
      background-size: 70% 85%;
      border-radius: 50%;
    }
  }

  // 驚嘆號 ！
  &.warning{
    color: $hilight;
    &::before{
      background: url(../images/icon_warning.svg) no-repeat center center;
      background-size: 100% auto;
    }
  }

  // 打叉 ✖️
  &.fail{
    color: $hilight;
    &::before{
      background: url(../images/icon_error.svg) no-repeat center center;
      background-size: 100% auto;
      border-radius: 50%;
    }
  }

}

// 註記：input ＋ 返回button ＋ 訊息文字
// ------------------------------------------------------ //
.markSet{
  display: flex; align-items: center; width: 100%;
  input[type="text"]{ flex: 1 1 50%; margin-right: 8px;}
  .button{ margin-bottom: 0;}
  p.notice{ margin-left: 4px; margin-top: 0.3em;}
}
.meta td .markSet{ margin-top: -.35em;}


// 日期區間
// -------------------------------------------------------------- //
.duration{
  position: relative;
  display: flex; justify-content: space-between;
  input{ 
    flex: 0 1 calc(50% - 1em);
    &:last-child{margin-left: 1.2em;}
  }
  input[type="date"]{cursor: pointer;}
  &::before{
    content: '～'; display: inline-block;  text-align: center;
    line-height: 2.9; width: 1.3em;
    position: absolute; left: calc(50% - .6em);
  }
}

// 單選、複選 radio button & checkbox
// ------------------------------------------------------ //
.optionPool{ 
  margin: 5px;
  label{
    display: inline-block;line-height: 1.4; border-radius: 2em;
    margin:3px .6em 3px 3px; padding: .6em 1em .5em .6em; 
    &:hover, &:focus {
      box-shadow: $borderColor 0 0 0 1px; border-radius: 2em;
    }
    input{ 
      vertical-align: top; margin-top: .08em;
      &[type="checkbox"]{margin-top: .18em;}
    }
  }
}

// 條件搜尋 
// ------------------------------------------------------ //
.searchBy{
  @extend %primSecWidth;
  margin-bottom: 0;
  overflow: hidden;
  a{
    float: right; height: 2.8em; line-height: 2.8;
    text-decoration: none;
    padding: 0 1em;
    // color: $white; background-color: $btnBg;
  }

  & + .formA {margin-top: 8px;}
}

// ------------------------------------------------------ //