  // headNav
  // ------------------------------------------------------ //
  .headNav{
    ul{ list-style: none; margin: 0; padding: 0; line-height: 1.2;
      a{display: block;text-decoration: none;}
    }
  }
  
  

  // 寬螢幕版在 header 內
  // -------------------------------------------- //
  .webHeader .headNav {
    display: none;
    
    @media screen and (min-width: $wwNormal){
      display: block;
      position: absolute; top: 15px; right: 5px;
      right: 58px;

      &>ul{
        overflow: hidden; line-height: 1.1; padding-bottom: 3px;
        &>li{
          position: relative; 
          float: left; margin: 0 2px 1px 0; padding: 1px .8em 0;
          &::before{
            content: ''; position: absolute; left: 0;bottom: 0; top: 0;
            width: 1px; height: 100%;
            background-color: $primaryColor;
            transition: .2s;
          }
          &:first-child {
            &::before {display: none;}
          }

          a{ 
            position: relative; display: block;color: $primaryColor;
            &::after{
              content: ''; position: absolute; left: 50%;bottom: -3px; 
              width: 0; height: 3px;
              background-color: $primaryColor;
              transition: .2s;
            }
            &:hover, &:focus {
              &::after{ width: 100%; left: 0;}
            }
            
          }
        }
      }
    }

  }