// 首頁區塊標題字
// ------------------------------------------------------ //
.blockHeader{
  margin:10px 0 30px;
  font-size: 2rem; font-weight: bold;line-height: 1.1;
  .major, .sub{ display: inline-block;}
  .sub{ 
    margin-left: 12px; font-size: .65em;
    &::before{
      content: ''; display: inline-block;
      width: 2px; height: 1em; margin-right: 18px;vertical-align: -3px;
      background-color: $assistant1;
    }
  }
  p{
    font-weight: normal; font-size: 1rem; line-height: 1.5;
  }

  @media screen and (min-width: $wwNormal){
    margin:15px 0 40px;
    .sub{ font-size: 1em}
  }
}
// ------------------------------------------------------ //


// 現在位置（麵包屑） //
// ------------------------------------------------------ //
.breadcrumb {
  @extend %primSecWidth; margin: 15px auto; 

  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{line-height: 1; overflow: hidden;}
  li{
    float: left; position: relative;color: $fontColor;
    padding-right: .5em;
    &:nth-child(n+2){
      padding-left: 1.8em;
      &::before{ 
        content: '';position: absolute; left: .6em; top: 0; 
        width: 1px; height: 1em;
        background: none; border-left: 1px solid $fontColorLight;
        transform: rotate(20deg);
      }
    }
    &:first-child{padding-left: 0;}
    a{
      display: block; text-decoration: none; color: $fontColorDark;
      border-bottom: 1px solid transparent;
        &:hover, &:focus{  border-bottom-color: $fontColor; color: $fontColor;}
    }
    &:last-child{
      color: $fontColorDark;
      a{color: $fontColorDark;}
    }
  }
}
// ------------------------------------------------------ //


// 內頁標題 //
// ------------------------------------------------------ //
.pageHeader{
  @extend %primSecWidth;
  margin: 12px auto; padding: 0;
  color: $fontColorDark; 
  // border-bottom: $secondaryColor 4px solid;
  h2 {
    padding: 0;margin: 0;
    font-size: 2em;line-height: 1.3; letter-spacing: .1em;
    color: $primaryColor;
  }
  .funcBar{ margin: 0;}
  @media screen and (min-width: $wwNormal){
    position: relative;
    h2{ margin-right: 190px; padding-top: 16px; padding-bottom: 4px;}
    .funcBar{ position: absolute; right: 0; top: 0;}
  }
}
// ------------------------------------------------------ //


// 列印、分享、返回 等功能圖示 //
// ------------------------------------------------------ //
.funcBar{
  --size: 62px;
  --tinge: #{$primaryColor};
  --hover: #{$assistant1};

  z-index: 99; position: relative; margin-bottom: 10px;
  ul{ list-style: none; margin: 0;padding: 0; text-align: center;}
  &>ul{
    display: flex; flex-flow: row nowrap; justify-content: flex-end;
    &>li{
      position: relative; margin:4px;padding:0;
      &:last-child {margin-right: 0;}
      &>a, &>button{
        display: block;
        margin:0; padding:0; width: var(--size);height: var(--size);

        border-radius: 50%;
        font-size: .92rem; line-height: 1;
        text-decoration: none; white-space: nowrap;
        border: 2px solid var(--tinge);
        box-shadow: none; 
        color: transparent;
        background-color: $white; background-repeat: no-repeat; 
        background-position: center center;

        transition:background .2s, box-shadow .2s;

        &::before {
          content: attr(aria-label); position: absolute; left: 0; top: 0;
          width: 100%; height: 1.2em; color: $fontColor;
          opacity: 0; transform: translateY(0);
          transition: .3s;
        }
        &:hover, &:focus{
          background-color: var(--hover);
          // box-shadow: var(--hover) 0 0 0 3px;
          &::before{
            opacity: 1;transform: translateY(-120%);
          }
        }
      }
      &.back>a, &.back>button{
        background-image: url(../images/icon_back.svg);
        background-size: 30px;
      }
      &.print>button, &.print>a{
        background-image: url(../images/icon_print.png);
        background-size: 24px;
      }
      &.share>button, &.share>a{
        background-image: url(../images/icon_share.png);
        background-size: 24px;
      }

      // 第二層
      &.compound ul{ 
        display: none;
        position: absolute; top: auto; left: 0; 
        width: var(--size); 
        &>li{
          position: absolute; top: 0; left: 0; 
          margin: 4px 0; padding: 0;
          &>a{
            display: block;width: var(--size); height: var(--size);border-radius: 50%;
            text-indent: -15em; overflow: hidden;
            background-color: transparent;
            transition: .2s;
            &:hover{
              background-color: transparent;
              transform: scale(1.1);
            }
            &:focus{
              box-shadow:$white 0 0 0 1px, $borderColorDark 0 0 0 4px;
              background-color: transparent;
              transform: scale(1);
            }
          }
          img{
            display: block; width: 100%; height: 100%; 
            margin: 0 auto;border-radius: 50%;
          }
        }
      }

      &.compound>button{position: relative; z-index: 19;}
    }
  }
}
// ------------------------------------------------------ //
// ------------------------------------------------------ //