// cp 頁張貼日期、瀏覽人次
// ------------------------------------------------------ //
.poInfo{
  padding: 24px; margin: 60px 0;
  background-color: $grayLight;
  ul{ 
    list-style: none; margin: 0; padding: 0; line-height: 1.3;
    display: flex; flex-wrap: wrap;
  }
  li{
    flex: 1 1 48%; 
    margin: 8px;white-space: nowrap;
    time, em { 
      display: inline-block;  margin-left: .5em;
      font-style: normal; font-weight: bold; color: $fontColor;
    }
  }

  @media screen and (min-width: $wwMedium){
    ul { display: flex;}
    li{
      flex-basis: 24%; margin-right: 16px; 
    }
  }
  
  @media screen and (min-width: $wwNormal){
    li{max-width: 15em;
      &:last-child {text-align: right; max-width:none;}
    }
  }
}
// ------------------------------------------------------ //