// 常用服務
.services{
  @extend %primSecWidth;
  ul{ 
    list-style: none; margin: 0 -6px; padding: 0; 
    display: flex; flex-flow: row wrap;
    font-size: 1.2em;font-weight: bold;line-height: 1.2;
    &>li{
      flex: 0 0 calc(50% - 16px);
      margin: 8px; padding: 0;
      &:last-child:nth-child(odd){ flex-grow: 1;}
      a {
        display: block; height: 100%;
        padding: 22px 15px 20px; text-align: center;
        text-decoration: none; color: $fontColor;
        background: linear-gradient(180deg, #F6F6F6 0%, #F9F9F9 9.38%, #FFFFFF 100%);
        box-shadow: 0 4px 9.699999809265137px 0 rgba(0, 0, 0, 0.1);
        transition: .2s;
        &:hover, &:focus {
          background: $primaryColor; color: $white;
          box-shadow: none;
        }
      }

    }
  }

  @media screen and (min-width: $wwMedium){
    ul{ 
      margin: 0 auto; 
        &>li{flex:0 0 calc(33.3333% - 16px);}
    }
  }

  @media screen and (min-width: $wwNormal){

    ul{
      font-size: 1.33em;
      &>li{ 
        a{padding: 40px 30px 38px;}
        margin: 12px; flex: 0 0 calc(33.3333% - 24px);
      }
    }
  }

}
